In [1]:
import pandas as pd
import datetime as dt
import numpy as np
import scipy.stats as sps

In [2]:
df = pd.read_csv('with_variables_v2.csv')

In [3]:
df.shape

(1000000, 244)

In [4]:
time = pd.read_csv('applications data.csv')

In [5]:
time.date = pd.to_datetime(time.date, format='%Y%m%d')

In [6]:
time[(time.date >= pd.to_datetime('2016-01-01') + dt.timedelta(14)) & (time.date < pd.to_datetime('2016-11-01'))]

,record,date,ssn,firstname,lastname,address,zip5,dob,homephone,fraud_label
38511,38512,2016-01-15,476774243,RASTAZMM,EEJTAXEZ,1420 SJXAM WY,58008,19570328,7355086598,0
38512,38513,2016-01-15,432844033,ESXAURS,SMJZXZMZ,2314 SZSRJ AVE,60458,19850530,837788477,0
38513,38514,2016-01-15,185477074,XMAEAEXSX,RTZRTZAS,9310 RMZTT AVE,65654,19180130,9130092903,0
38514,38515,2016-01-15,933119335,UUTXTTUAE,EMUTUJS,6950 XJERT AVE,56324,19070626,9999999999,0
38515,38516,2016-01-15,845202954,RTMMTSZRZ,SZJMSMUJ,4007 RTERR CT,50477,19271109,9999999999,0
...,...,...,...,...,...,...,...,...,...,...
833502,833503,2016-10-31,614489026,EJUJRSUMZ,EEJSTZUT,9034 UERXU RD,4529,20130609,3743139222,0
833503,833504,2016-10-31,20529638,RZRTEJXUT,UXMSSZSX,1452 RJMMA ST,68562,19550212,7155993451,0
833504,833505,2016-10-31,604655517,UTEXRMERT,EZRXRXEZ,8381 RAXMU ST,52826,19470127,9999999999,0
833505,833506,2016-10-31,171974215,EXMUXAZRX,SZUTAURS,9517 XXMMZ ST,58097,19290208,9747929283,0
833506,833507,2016-10-31,985717679,RXMJSAJZE,REAJMAEZ,4205 EZJJU BLVD,9416,19250709,5386413150,0

In [7]:
time1 = time[(time.date >= pd.to_datetime('2016-01-01') + dt.timedelta(14)) & (time.date < pd.to_datetime('2016-11-01'))]

In [8]:
# df.set_index('record', inplace = True)
df.head()

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_14,ssn_count_30,address_day_since,...,ssn_name_count_1_by_14,ssn_name_count_1_by_30,ssn_fulladdress_count_1_by_3,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_14,ssn_fulladdress_count_1_by_30,ssn_name_dob_count_1_by_3,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_14,ssn_name_dob_count_1_by_30
0,1,0.014499,0.0,1,1,1,1,1,1,0.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
1,2,0.014499,0.0,1,1,1,1,1,1,0.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
2,3,0.014499,0.0,1,1,1,1,1,1,0.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
3,4,0.014499,0.0,1,1,1,1,1,1,0.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
4,5,0.014499,0.0,1,1,1,1,1,1,0.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0

In [9]:
df1 = df.iloc[38511: 833507, :].copy()
df1

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_14,ssn_count_30,address_day_since,...,ssn_name_count_1_by_14,ssn_name_count_1_by_30,ssn_fulladdress_count_1_by_3,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_14,ssn_fulladdress_count_1_by_30,ssn_name_dob_count_1_by_3,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_14,ssn_name_dob_count_1_by_30
38511,38512,0.014499,14.0,1,1,1,1,1,1,14.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
38512,38513,0.014499,14.0,1,1,1,1,1,1,14.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
38513,38514,0.014499,14.0,1,1,1,1,1,1,14.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
38514,38515,0.014499,14.0,1,1,1,1,1,1,14.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
38515,38516,0.014499,14.0,1,1,1,1,1,1,14.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833502,833503,0.013480,36.0,1,1,1,1,1,1,36.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
833503,833504,0.013480,151.0,1,1,1,1,1,1,151.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
833504,833505,0.013480,304.0,1,1,1,1,1,1,304.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
833505,833506,0.013480,304.0,1,1,1,1,1,1,304.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0
833506,833507,0.013480,304.0,1,1,1,1,1,1,304.0,...,14.0,30.0,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0

In [10]:
time1.fraud_label

38511     0
38512     0
38513     0
38514     0
38515     0
         ..
833502    0
833503    0
833504    0
833505    0
833506    0
Name: fraud_label, Length: 794996, dtype: int64

In [11]:
### IMPORTANT:
## since now the index is records number
## when assigning time1 fraud_label to df1, the first element with index 38511 will be missing
## since the first row of df1 starts index with 38512
## so the last element after assigning would be null.
## Therefore, assign before changing index!!!!!

df1['label'] = time1.fraud_label
df1['random'] = np.random.uniform(size = len(time1))

In [12]:
df1.tail()

,record,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_14,ssn_count_30,address_day_since,...,ssn_fulladdress_count_1_by_3,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_14,ssn_fulladdress_count_1_by_30,ssn_name_dob_count_1_by_3,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_14,ssn_name_dob_count_1_by_30,label,random
833502,833503,0.01348,36.0,1,1,1,1,1,1,36.0,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.791014
833503,833504,0.01348,151.0,1,1,1,1,1,1,151.0,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.574851
833504,833505,0.01348,304.0,1,1,1,1,1,1,304.0,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.930788
833505,833506,0.01348,304.0,1,1,1,1,1,1,304.0,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.022387
833506,833507,0.01348,304.0,1,1,1,1,1,1,304.0,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.960633

In [13]:
df1.label.sum() == time1.fraud_label.sum()

True

In [14]:
df1.set_index('record', inplace = True)

In [15]:
df1.shape

(794996, 245)

In [16]:
goods = df1[df1.label == 0]
bads = df1[df1.label == 1]

In [17]:
goods.shape, bads.shape

((783510, 245), (11486, 245))

In [18]:
len(bads)/len(df1)

0.014447871435831124

## Filter

### KS score

In [0]:
# sps.ks_2samp(goods.address_count_30, bads.address_count_30)[0]

0.3327247807054462

In [19]:
ks_score = []
for column in df1:
    ks_score.append(sps.ks_2samp(goods[column], bads[column])[0])

In [21]:
# ks_score

### FDR

In [20]:
numbads = len(bads)
topRows = int(round(len(df1)*0.03))

In [21]:
## it's much faster if we select only important fields !!!

df1['check_label'] = df1.label
fdr = []
for column in df1.columns[:-1]:
    temp1 = df1[[column, 'check_label']].sort_values(column, ascending = False).head(topRows)
    temp2 = df1[[column, 'check_label']].sort_values(column, ascending = True).head(topRows)
    FDR1 = temp1.check_label.sum()/numbads
    FDR2 = temp2.check_label.sum()/numbads
    fdr.append(max(FDR1, FDR2))
    # print(column + ' Done')

In [22]:
df1.drop('check_label', axis = 1, inplace = True)

### Ranking

In [23]:
rank = pd.DataFrame({
    'Field': df1.columns,
    'KS': ks_score,
    'FDR': fdr
})

In [24]:
rank['KS rank'] = rank.KS.rank()
rank['FDR rank'] = rank.FDR.rank()
rank['Average rank'] = (rank['KS rank'] + rank['FDR rank'])/2

In [25]:
rank.head()

           Field        KS       FDR  KS rank  FDR rank  Average rank
0       dow_risk  0.022088  0.033780     38.0       2.0          20.0
1  ssn_day_since  0.218523  0.242469    220.0     220.0         220.0
2    ssn_count_0  0.107093  0.134947    124.0     129.0         126.5
3    ssn_count_1  0.148704  0.175431    151.0     155.0         153.0
4    ssn_count_3  0.172102  0.198328    178.0     184.0         181.0

In [26]:
rank1 = rank.sort_values('KS rank', ascending = False)
rank1

,Field,KS,FDR,KS rank,FDR rank,Average rank
243,label,1.000000,1.000000,245.0,245.0,245.00
14,address_count_30,0.332725,0.353300,244.0,243.0,243.50
42,fulladdress_count_30,0.332032,0.354954,243.0,244.0,243.50
8,address_day_since,0.324627,0.348076,242.0,241.0,241.50
36,fulladdress_day_since,0.323543,0.349382,241.0,242.0,241.50
...,...,...,...,...,...,...
86,homephone_name_dob_count_0,0.001821,0.034825,5.0,5.5,5.25
65,fulladdress_dob_count_0,0.001812,0.034825,4.0,5.5,4.75
128,ssn_homephone_count_0,0.001793,0.034738,3.0,3.0,3.00
58,name_homephone_count_0,0.001782,0.034825,2.0,5.5,3.75
142,ssn_fulladdress_count_0,0.001774,0.034825,1.0,5.5,3.25

In [27]:
rank2 = rank.sort_values('FDR rank', ascending = False)
rank2

,Field,KS,FDR,KS rank,FDR rank,Average rank
243,label,1.000000,1.000000,245.0,245.0,245.00
42,fulladdress_count_30,0.332032,0.354954,243.0,244.0,243.50
14,address_count_30,0.332725,0.353300,244.0,243.0,243.50
36,fulladdress_day_since,0.323543,0.349382,241.0,242.0,241.50
8,address_day_since,0.324627,0.348076,242.0,241.0,241.50
...,...,...,...,...,...,...
58,name_homephone_count_0,0.001782,0.034825,2.0,5.5,3.75
65,fulladdress_dob_count_0,0.001812,0.034825,4.0,5.5,4.75
128,ssn_homephone_count_0,0.001793,0.034738,3.0,3.0,3.00
0,dow_risk,0.022088,0.033780,38.0,2.0,20.00
244,random,0.006932,0.031168,19.0,1.0,10.00

In [28]:
rank3 = rank.sort_values('Average rank', ascending = False)
rank3

,Field,KS,FDR,KS rank,FDR rank,Average rank
243,label,1.000000,1.000000,245.0,245.0,245.00
14,address_count_30,0.332725,0.353300,244.0,243.0,243.50
42,fulladdress_count_30,0.332032,0.354954,243.0,244.0,243.50
36,fulladdress_day_since,0.323543,0.349382,241.0,242.0,241.50
8,address_day_since,0.324627,0.348076,242.0,241.0,241.50
...,...,...,...,...,...,...
86,homephone_name_dob_count_0,0.001821,0.034825,5.0,5.5,5.25
65,fulladdress_dob_count_0,0.001812,0.034825,4.0,5.5,4.75
58,name_homephone_count_0,0.001782,0.034825,2.0,5.5,3.75
142,ssn_fulladdress_count_0,0.001774,0.034825,1.0,5.5,3.25
128,ssn_homephone_count_0,0.001793,0.034738,3.0,3.0,3.00

In [34]:
rank3.head(10)

,Field,KS,FDR,KS rank,FDR rank,Average rank
243,label,1.000000,1.000000,245.0,245.0,245.0
14,address_count_30,0.332725,0.353300,244.0,243.0,243.5
42,fulladdress_count_30,0.332032,0.354954,243.0,244.0,243.5
36,fulladdress_day_since,0.323543,0.349382,241.0,242.0,241.5
8,address_day_since,0.324627,0.348076,242.0,241.0,241.5
13,address_count_14,0.322252,0.345812,240.0,240.0,240.0
41,fulladdress_count_14,0.321756,0.342330,239.0,239.0,239.0
12,address_count_7,0.301445,0.320999,238.0,238.0,238.0
40,fulladdress_count_7,0.301368,0.319955,237.0,237.0,237.0
39,fulladdress_count_3,0.278488,0.297493,236.0,235.0,235.5

In [0]:
# rank1.to_excel('rank_by_ks.xlsx', index = False)
# rank2.to_excel('rank_by_fdr.xlsx', index = False)
# rank3.to_excel('rank_by_avg.xlsx', index = False)

## Wrapper

In [34]:
df1

,dow_risk,ssn_day_since,ssn_count_0,ssn_count_1,ssn_count_3,ssn_count_7,ssn_count_14,ssn_count_30,address_day_since,address_count_0,...,ssn_fulladdress_count_1_by_3,ssn_fulladdress_count_1_by_7,ssn_fulladdress_count_1_by_14,ssn_fulladdress_count_1_by_30,ssn_name_dob_count_1_by_3,ssn_name_dob_count_1_by_7,ssn_name_dob_count_1_by_14,ssn_name_dob_count_1_by_30,label,random
record,,,,,,,,,,,,,,,,,,,,,
38512,0.014499,14.0,1,1,1,1,1,1,14.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.856242
38513,0.014499,14.0,1,1,1,1,1,1,14.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.617576
38514,0.014499,14.0,1,1,1,1,1,1,14.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.577813
38515,0.014499,14.0,1,1,1,1,1,1,14.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.331734
38516,0.014499,14.0,1,1,1,1,1,1,14.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.403456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
833503,0.013480,36.0,1,1,1,1,1,1,36.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.064577
833504,0.013480,151.0,1,1,1,1,1,1,151.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.482444
833505,0.013480,304.0,1,1,1,1,1,1,304.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.714090
833506,0.013480,304.0,1,1,1,1,1,1,304.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.991107
833507,0.013480,304.0,1,1,1,1,1,1,304.0,1,...,3.0,7.0,14.0,30.0,3.0,7.0,14.0,30.0,0,0.980955

In [35]:
filter_results = list(rank3.iloc[1:81,0])

In [37]:
df2 = df1[filter_results]
df2.head()

,address_count_30,fulladdress_count_30,fulladdress_day_since,address_day_since,address_count_14,fulladdress_count_14,address_count_7,fulladdress_count_7,fulladdress_count_3,address_count_3,...,name_dob_count_1_by_30,fulladdress_homephone_count_1_by_30,ssn_count_1_by_30,ssn_firstname_count_1_by_30,ssn_name_dob_count_1_by_30,homephone_count_30,ssn_name_count_1_by_30,ssn_lastname_count_1_by_30,dob_count_30,fulladdress_homephone_count_1
record,,,,,,,,,,,,,,,,,,,,,
38512,1,1,14.0,14.0,1,1,1,1,1,1,...,30.0,30.0,30.0,30.0,30.0,4,30.0,30.0,1,1
38513,1,1,14.0,14.0,1,1,1,1,1,1,...,30.0,30.0,30.0,30.0,30.0,6,30.0,30.0,2,1
38514,1,1,14.0,14.0,1,1,1,1,1,1,...,30.0,30.0,30.0,30.0,30.0,2,30.0,30.0,2,1
38515,1,1,14.0,14.0,1,1,1,1,1,1,...,30.0,30.0,30.0,30.0,30.0,1,30.0,30.0,1,1
38516,1,1,14.0,14.0,1,1,1,1,1,1,...,30.0,30.0,30.0,30.0,30.0,1,30.0,30.0,1,1

### Stepwise

In [38]:
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LogisticRegression
import timeit

In [0]:
# test_results = list(rank3.iloc[1:15,0])

In [0]:
# test = df1[test_results]

In [40]:
start = timeit.default_timer()
model = LogisticRegression()
rfecv = RFECV(estimator = model, step = 1, cv = 2, n_jobs = -1, verbose = 3, scoring = 'roc_auc')
rfecv.fit(df2.values, df1.label.values)
print('Total run time: {:.2f}mins'.format((timeit.default_timer() - start)/60))

KeyboardInterrupt:

In [0]:
rfecv.n_features_

74

In [0]:
rfecv.grid_scores_

In [0]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv.ranking_), df2.columns)),
                            columns = ['ranking', 'variable'])
var_selected

    ranking                 variable
0         1          address_count_0
1         1    address_count_0_by_30
2         1     address_count_0_by_7
3         1          address_count_1
4         1    address_count_1_by_30
..      ...                      ...
95       23       ssn_count_0_by_180
96       24   address_count_0_by_180
97       25  name_dob_count_0_by_180
98       26        address_day_since
99       27           name_day_since

[100 rows x 2 columns]

In [0]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
cols

['address_count_0',
 'address_count_0_by_30',
 'address_count_0_by_7',
 'address_count_1',
 'address_count_1_by_30',
 'address_count_1_by_7',
 'address_count_3',
 'address_count_30',
 'address_count_7',
 'address_count_90',
 'fulladdress_count_0',
 'fulladdress_count_0_by_180',
 'fulladdress_count_0_by_30',
 'fulladdress_count_0_by_7',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_3',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_90',
 'fulladdress_day_since',
 'fulladdress_homephone_count_0_by_7',
 'fulladdress_homephone_count_3',
 'fulladdress_homephone_count_30',
 'fulladdress_homephone_day_since',
 'homephone_count_1',
 'homephone_count_3',
 'homephone_count_7',
 'name_count_30',
 'name_count_7',
 'name_dob_count_0_by_30',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_3',
 'name_dob_count_30',
 'name_dob_count_7',
 'name_dob_count_90',
 'ssn_count_0_by_7',
 'ssn_count_3',
 'ssn_count_30',
 'ssn_count_90',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_0_by_30',
 'ssn_dob_count_180',
 'ssn_dob_count_3',
 'ssn_dob_count_30',
 'ssn_dob_count_7',
 'ssn_dob_count_90',
 'ssn_dob_day_since',
 'ssn_firstname_count_180',
 'ssn_firstname_count_3',
 'ssn_firstname_count_30',
 'ssn_firstname_count_7',
 'ssn_firstname_count_90',
 'ssn_lastname_count_0_by_7',
 'ssn_lastname_count_180',
 'ssn_lastname_count_3',
 'ssn_lastname_count_30',
 'ssn_lastname_count_7',
 'ssn_lastname_count_90',
 'ssn_name_count_0_by_180',
 'ssn_name_count_180',
 'ssn_name_count_3',
 'ssn_name_count_30',
 'ssn_name_count_7',
 'ssn_name_count_90',
 'ssn_name_dob_count_0_by_180',
 'ssn_name_dob_count_0_by_30',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90',
 'ssn_name_dob_day_since']

In [0]:
df3 = df2[cols]
df3

        address_count_0  ...  ssn_name_dob_day_since
record                   ...
38512                 1  ...                    14.0
38513                 1  ...                    14.0
38514                 1  ...                    14.0
38515                 1  ...                    14.0
38516                 1  ...                    14.0
...                 ...  ...                     ...
833503                1  ...                    36.0
833504                1  ...                   151.0
833505                1  ...                   304.0
833506                1  ...                   304.0
833507                1  ...                   304.0

[794996 rows x 74 columns]

In [41]:
model = LogisticRegression()
rfecv2 = RFECV(estimator=model, step=1, cv=2, verbose=3, n_jobs=-1, scoring='roc_auc')
rfecv2.fit(df3.values, df1.label.values)

In [0]:
rfecv2.n_features_

63

In [0]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv2.ranking_), df3.columns)),
                            columns = ['ranking', 'variable'])
var_selected

    ranking                        variable
0         1                 address_count_0
1         1            address_count_0_by_7
2         1                 address_count_1
3         1            address_count_1_by_7
4         1                 address_count_3
..      ...                             ...
69        8     ssn_name_dob_count_0_by_180
70        9           address_count_0_by_30
71       10           address_count_1_by_30
72       11                    ssn_count_90
73       12  fulladdress_homephone_count_30

[74 rows x 2 columns]

In [0]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
cols

['address_count_0',
 'address_count_0_by_7',
 'address_count_1',
 'address_count_1_by_7',
 'address_count_3',
 'address_count_30',
 'address_count_7',
 'address_count_90',
 'fulladdress_count_0',
 'fulladdress_count_0_by_30',
 'fulladdress_count_0_by_7',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_3',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_90',
 'fulladdress_day_since',
 'fulladdress_homephone_count_0_by_7',
 'fulladdress_homephone_day_since',
 'homephone_count_1',
 'homephone_count_3',
 'homephone_count_7',
 'name_count_7',
 'name_dob_count_0_by_30',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_3',
 'name_dob_count_30',
 'name_dob_count_7',
 'name_dob_count_90',
 'ssn_count_0_by_7',
 'ssn_count_3',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_0_by_30',
 'ssn_dob_count_180',
 'ssn_dob_count_3',
 'ssn_dob_count_30',
 'ssn_dob_count_7',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_3',
 'ssn_firstname_count_30',
 'ssn_firstname_count_7',
 'ssn_firstname_count_90',
 'ssn_lastname_count_0_by_7',
 'ssn_lastname_count_180',
 'ssn_lastname_count_3',
 'ssn_lastname_count_30',
 'ssn_lastname_count_7',
 'ssn_lastname_count_90',
 'ssn_name_count_0_by_180',
 'ssn_name_count_180',
 'ssn_name_count_3',
 'ssn_name_count_30',
 'ssn_name_count_7',
 'ssn_name_count_90',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90']

In [0]:
df4 = df3[cols]
df4

        address_count_0  ...  ssn_name_dob_count_90
record                   ...
38512                 1  ...                      1
38513                 1  ...                      1
38514                 1  ...                      1
38515                 1  ...                      1
38516                 1  ...                      1
...                 ...  ...                    ...
833503                1  ...                      2
833504                1  ...                      1
833505                1  ...                      1
833506                1  ...                      1
833507                1  ...                      1

[794996 rows x 63 columns]

In [0]:
model = LogisticRegression()
rfecv3 = RFECV(estimator=model, step=1, cv=2, verbose=3, n_jobs=-1, scoring='roc_auc')
rfecv3.fit(df4.values, df1.label.values)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

RFECV(cv=2,
      estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                   fit_intercept=True, intercept_scaling=1,
                                   l1_ratio=None, max_iter=100,
                                   multi_class='auto', n_jobs=None,
                                   penalty='l2', random_state=None,
                                   solver='lbfgs', tol=0.0001, verbose=0,
                                   warm_start=False),
      min_features_to_select=1, n_jobs=-1, scoring='roc_auc', step=1,
      verbose=3)

In [0]:
rfecv3.n_features_

63

In [0]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv3.ranking_), df4.columns)),
                            columns = ['ranking', 'variable'])
var_selected

    ranking                variable
0         1         address_count_0
1         1    address_count_0_by_7
2         1         address_count_1
3         1    address_count_1_by_7
4         1         address_count_3
..      ...                     ...
58        1       ssn_name_count_90
59        1  ssn_name_dob_count_180
60        1   ssn_name_dob_count_30
61        1    ssn_name_dob_count_7
62        1   ssn_name_dob_count_90

[63 rows x 2 columns]

In [0]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
cols

['address_count_0',
 'address_count_0_by_7',
 'address_count_1',
 'address_count_1_by_7',
 'address_count_3',
 'address_count_30',
 'address_count_7',
 'address_count_90',
 'fulladdress_count_0',
 'fulladdress_count_0_by_30',
 'fulladdress_count_0_by_7',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_3',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_90',
 'fulladdress_day_since',
 'fulladdress_homephone_count_0_by_7',
 'fulladdress_homephone_day_since',
 'homephone_count_1',
 'homephone_count_3',
 'homephone_count_7',
 'name_count_7',
 'name_dob_count_0_by_30',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_3',
 'name_dob_count_30',
 'name_dob_count_7',
 'name_dob_count_90',
 'ssn_count_0_by_7',
 'ssn_count_3',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_0_by_30',
 'ssn_dob_count_180',
 'ssn_dob_count_3',
 'ssn_dob_count_30',
 'ssn_dob_count_7',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_3',
 'ssn_firstname_count_30',
 'ssn_firstname_count_7',
 'ssn_firstname_count_90',
 'ssn_lastname_count_0_by_7',
 'ssn_lastname_count_180',
 'ssn_lastname_count_3',
 'ssn_lastname_count_30',
 'ssn_lastname_count_7',
 'ssn_lastname_count_90',
 'ssn_name_count_0_by_180',
 'ssn_name_count_180',
 'ssn_name_count_3',
 'ssn_name_count_30',
 'ssn_name_count_7',
 'ssn_name_count_90',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90']

In [0]:
df5 = df4[cols]
df5

        address_count_0  ...  ssn_name_dob_count_90
record                   ...
38512                 1  ...                      1
38513                 1  ...                      1
38514                 1  ...                      1
38515                 1  ...                      1
38516                 1  ...                      1
...                 ...  ...                    ...
833503                1  ...                      2
833504                1  ...                      1
833505                1  ...                      1
833506                1  ...                      1
833507                1  ...                      1

[794996 rows x 63 columns]

In [0]:
model = LogisticRegression()
rfecv4 = RFECV(estimator=model, step=1, cv=2, verbose=3, n_jobs=-1, scoring='roc_auc')
rfecv4.fit(df5.values, df1.label.values)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

RFECV(cv=2,
      estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                   fit_intercept=True, intercept_scaling=1,
                                   l1_ratio=None, max_iter=100,
                                   multi_class='auto', n_jobs=None,
                                   penalty='l2', random_state=None,
                                   solver='lbfgs', tol=0.0001, verbose=0,
                                   warm_start=False),
      min_features_to_select=1, n_jobs=-1, scoring='roc_auc', step=1,
      verbose=3)

In [0]:
rfecv4.n_features_

63

In [0]:
var_selected = pd.DataFrame(sorted(zip(map(lambda x: round(x), rfecv4.ranking_), df5.columns)),
                            columns = ['ranking', 'variable'])
var_selected

    ranking                variable
0         1         address_count_0
1         1    address_count_0_by_7
2         1         address_count_1
3         1    address_count_1_by_7
4         1         address_count_3
..      ...                     ...
58        1       ssn_name_count_90
59        1  ssn_name_dob_count_180
60        1   ssn_name_dob_count_30
61        1    ssn_name_dob_count_7
62        1   ssn_name_dob_count_90

[63 rows x 2 columns]

In [0]:
cols = var_selected.loc[var_selected.ranking == 1, 'variable'].tolist()
cols

['address_count_0',
 'address_count_0_by_7',
 'address_count_1',
 'address_count_1_by_7',
 'address_count_3',
 'address_count_30',
 'address_count_7',
 'address_count_90',
 'fulladdress_count_0',
 'fulladdress_count_0_by_30',
 'fulladdress_count_0_by_7',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_3',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_90',
 'fulladdress_day_since',
 'fulladdress_homephone_count_0_by_7',
 'fulladdress_homephone_day_since',
 'homephone_count_1',
 'homephone_count_3',
 'homephone_count_7',
 'name_count_7',
 'name_dob_count_0_by_30',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_3',
 'name_dob_count_30',
 'name_dob_count_7',
 'name_dob_count_90',
 'ssn_count_0_by_7',
 'ssn_count_3',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_0_by_30',
 'ssn_dob_count_180',
 'ssn_dob_count_3',
 'ssn_dob_count_30',
 'ssn_dob_count_7',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_3',
 'ssn_firstname_count_30',
 'ssn_firstname_count_7',
 'ssn_firstname_count_90',
 'ssn_lastname_count_0_by_7',
 'ssn_lastname_count_180',
 'ssn_lastname_count_3',
 'ssn_lastname_count_30',
 'ssn_lastname_count_7',
 'ssn_lastname_count_90',
 'ssn_name_count_0_by_180',
 'ssn_name_count_180',
 'ssn_name_count_3',
 'ssn_name_count_30',
 'ssn_name_count_7',
 'ssn_name_count_90',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90']

In [0]:
df6 = df5[cols]
df6

        address_count_0  ...  ssn_name_dob_count_90
record                   ...
38512                 1  ...                      1
38513                 1  ...                      1
38514                 1  ...                      1
38515                 1  ...                      1
38516                 1  ...                      1
...                 ...  ...                    ...
833503                1  ...                      2
833504                1  ...                      1
833505                1  ...                      1
833506                1  ...                      1
833507                1  ...                      1

[794996 rows x 63 columns]

### Forward

In [39]:
from mlxtend.feature_selection import SequentialFeatureSelector as SFS

In [42]:
sfs1 = SFS(LogisticRegression(),
          k_features= 25,
          forward=True,
          floating=False,
          scoring = 'accuracy',
          n_jobs = -1,
          verbose = 2,
          cv = 2)
sfs1.fit(df2, df1.label.values)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.1s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:   21.3s finished

[2020-03-12 12:50:28] Features: 1/25 -- score: 0.9883282431609719[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.3s
[Parallel(n_jobs=-1)]: Done  79 out of  79 | elapsed:   28.1s finished

[2020-03-12 12:50:56] Features: 2/25 -- score: 0.9903131588083462[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   10.7s
[Parallel(n_jobs=-1)]: Done  78 out of  78 | elapsed:   33.3s finished

[2020-03-12 12:51:29] Features: 3/25 -- score: 0.9903747943385879[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   14.9s
[Parallel(n_jobs=-1)]: Done  77 out of  77 | elapsed:   45.7s finished

[2020-03-12 12:52:15] Features: 4/25 -- score: 0.9903974359619419[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   22.6s
[Parallel(n_jobs=-1)]: Done  76 out of  76 | elapsed:  1.1min finished

[2020-03-12 12:53:23] Features: 5/25 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   23.4s
[Parallel(n_jobs=-1)]: Done  75 out of  75 | elapsed:  1.3min finished

[2020-03-12 12:54:39] Features: 6/25 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   26.3s
[Parallel(n_jobs=-1)]: Done  74 out of  74 | elapsed:  1.4min finished

[2020-03-12 12:56:05] Features: 7/25 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   36.0s
[Parallel(n_jobs=-1)]: Done  73 out of  73 | elapsed:  1.9min finished

[2020-03-12 12:58:01] Features: 8/25 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   50.6s
[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:  2.6min finished

[2020-03-12 13:00:34] Features: 9/25 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   54.2s
[Parallel(n_jobs=-1)]: Done  71 out of  71 | elapsed:  2.8min finished

[2020-03-12 13:03:21] Features: 10/25 -- score: 0.9904024674337983[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  70 out of  70 | elapsed:  3.6min finished

[2020-03-12 13:06:58] Features: 11/25 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
/Users/aslanshi/opt/anaconda3/lib/python3.7/site-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  69 out of  69 | elapsed:  3.5min finished

[2020-03-12 13:10:25] Features: 12/25 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  68 out of  68 | elapsed:  3.8min finished

[2020-03-12 13:14:14] Features: 13/25 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  67 out of  67 | elapsed:  4.5min finished

[2020-03-12 13:18:46] Features: 14/25 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  66 out of  66 | elapsed:  4.6min finished

[2020-03-12 13:23:21] Features: 15/25 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  65 out of  65 | elapsed:  5.0min finished

[2020-03-12 13:28:23] Features: 16/25 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  64 out of  64 | elapsed:  5.1min finished

[2020-03-12 13:33:29] Features: 17/25 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.7min
[Parallel(n_jobs=-1)]: Done  63 out of  63 | elapsed:  5.4min finished

[2020-03-12 13:38:56] Features: 18/25 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  62 out of  62 | elapsed:  5.8min finished

[2020-03-12 13:44:43] Features: 19/25 -- score: 0.9903936623580496[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  61 out of  61 | elapsed:  6.7min finished

[2020-03-12 13:51:24] Features: 20/25 -- score: 0.9904452349445784[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  7.0min finished

[2020-03-12 13:58:24] Features: 21/25 -- score: 0.9905886318924875[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done  59 out of  59 | elapsed:  6.7min finished

[2020-03-12 14:05:07] Features: 22/25 -- score: 0.9906515252906933[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done  58 out of  58 | elapsed:  7.7min finished

[2020-03-12 14:12:50] Features: 23/25 -- score: 0.9906791983859038[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed: 19.6min
[Parallel(n_jobs=-1)]: Done  57 out of  57 | elapsed: 25.1min finished

[2020-03-12 14:37:57] Features: 24/25 -- score: 0.9906942928014733[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done  56 out of  56 | elapsed:  9.1min finished

[2020-03-12 14:47:03] Features: 25/25 -- score: 0.990714418688899

SequentialFeatureSelector(clone_estimator=True, cv=2,
                          estimator=LogisticRegression(C=1.0, class_weight=None,
                                                       dual=False,
                                                       fit_intercept=True,
                                                       intercept_scaling=1,
                                                       l1_ratio=None,
                                                       max_iter=100,
                                                       multi_class='warn',
                                                       n_jobs=None,
                                                       penalty='l2',
                                                       random_state=None,
                                                       solver='warn',
                                                       tol=0.0001, verbose=0,
                                                       warm_start=False),
                          fixed_features=None, floating=False, forward=True,
                          k_features=25, n_jobs=-1, pre_dispatch='2*n_jobs',
                          scoring='accuracy', verbose=2)

In [43]:
sfs1.k_feature_names_

('address_count_30',
 'fulladdress_count_30',
 'fulladdress_count_3',
 'address_count_3',
 'fulladdress_count_1',
 'ssn_name_dob_count_30',
 'fulladdress_homephone_day_since',
 'fulladdress_homephone_count_14',
 'name_dob_day_since',
 'ssn_name_dob_day_since',
 'name_dob_count_14',
 'ssn_name_day_since',
 'ssn_dob_count_14',
 'ssn_count_14',
 'ssn_firstname_count_14',
 'ssn_lastname_count_14',
 'ssn_name_count_14',
 'address_count_1_by_14',
 'fulladdress_count_1_by_14',
 'name_count_14',
 'name_day_since',
 'fulladdress_count_1_by_30',
 'fulladdress_count_1_by_7',
 'ssn_name_count_1_by_30',
 'dob_count_30')

In [45]:
sfs1_1 = SFS(LogisticRegression(),
          k_features= 30,
          forward=True,
          floating=False,
          scoring = 'accuracy',
          n_jobs = -1,
          verbose = 2,
          cv = 2)
sfs1_1.fit(df2, df1.label.values)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    9.7s
[Parallel(n_jobs=-1)]: Done  80 out of  80 | elapsed:   23.4s finished

[2020-03-12 18:53:43] Features: 1/30 -- score: 0.9883282431609719[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:    8.5s
[Parallel(n_jobs=-1)]: Done  79 out of  79 | elapsed:   26.9s finished

[2020-03-12 18:54:10] Features: 2/30 -- score: 0.9903131588083462[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   10.3s
[Parallel(n_jobs=-1)]: Done  78 out of  78 | elapsed:   32.5s finished

[2020-03-12 18:54:43] Features: 3/30 -- score: 0.9903747943385879[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   13.5s
[Parallel(n_jobs=-1)]: Done  77 out of  77 | elapsed:   42.8s finished

[2020-03-12 18:55:26] Features: 4/30 -- score: 0.9903974359619419[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   21.5s
[Parallel(n_jobs=-1)]: Done  76 out of  76 | elapsed:  1.1min finished

[2020-03-12 18:56:33] Features: 5/30 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   23.4s
[Parallel(n_jobs=-1)]: Done  75 out of  75 | elapsed:  1.3min finished

[2020-03-12 18:57:49] Features: 6/30 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   26.0s
[Parallel(n_jobs=-1)]: Done  74 out of  74 | elapsed:  1.4min finished

[2020-03-12 18:59:14] Features: 7/30 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   33.7s
[Parallel(n_jobs=-1)]: Done  73 out of  73 | elapsed:  1.8min finished

[2020-03-12 19:01:00] Features: 8/30 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   48.6s
[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:  2.4min finished

[2020-03-12 19:03:22] Features: 9/30 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:   49.4s
[Parallel(n_jobs=-1)]: Done  71 out of  71 | elapsed:  2.6min finished

[2020-03-12 19:05:55] Features: 10/30 -- score: 0.9904024674337983[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  70 out of  70 | elapsed:  3.4min finished

[2020-03-12 19:09:20] Features: 11/30 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.0min
[Parallel(n_jobs=-1)]: Done  69 out of  69 | elapsed:  3.2min finished

[2020-03-12 19:12:35] Features: 12/30 -- score: 0.9904012095658343[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.2min
[Parallel(n_jobs=-1)]: Done  68 out of  68 | elapsed:  3.7min finished

[2020-03-12 19:16:20] Features: 13/30 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.4min
[Parallel(n_jobs=-1)]: Done  67 out of  67 | elapsed: 37.6min finished

[2020-03-12 19:53:54] Features: 14/30 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  66 out of  66 | elapsed: 44.2min finished

[2020-03-12 20:38:06] Features: 15/30 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done  65 out of  65 | elapsed: 17.3min finished

[2020-03-12 20:55:26] Features: 16/30 -- score: 0.9904037253017626[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  64 out of  64 | elapsed:  5.0min finished

[2020-03-12 21:00:26] Features: 17/30 -- score: 0.9903999516978702[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done  63 out of  63 | elapsed:  5.3min finished

[2020-03-12 21:05:44] Features: 18/30 -- score: 0.9903986938299061[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed: 81.1min
[Parallel(n_jobs=-1)]: Done  62 out of  62 | elapsed: 91.6min finished

[2020-03-12 22:37:21] Features: 19/30 -- score: 0.9903936623580496[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  61 out of  61 | elapsed: 26.3min finished

[2020-03-12 23:03:42] Features: 20/30 -- score: 0.9904452349445784[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  6.8min finished

[2020-03-12 23:10:31] Features: 21/30 -- score: 0.9905886318924875[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  59 out of  59 | elapsed:  6.6min finished

[2020-03-12 23:17:05] Features: 22/30 -- score: 0.9906515252906933[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.2min
[Parallel(n_jobs=-1)]: Done  58 out of  58 | elapsed:  7.7min finished

[2020-03-12 23:24:46] Features: 23/30 -- score: 0.9906791983859038[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done  57 out of  57 | elapsed:  8.8min finished

[2020-03-12 23:33:33] Features: 24/30 -- score: 0.9906942928014733[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.7min
[Parallel(n_jobs=-1)]: Done  56 out of  56 | elapsed:  8.4min finished

[2020-03-12 23:41:56] Features: 25/30 -- score: 0.990714418688899[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.5min
[Parallel(n_jobs=-1)]: Done  55 out of  55 | elapsed:  8.6min finished

[2020-03-12 23:50:34] Features: 26/30 -- score: 0.9907936643706383[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:  8.9min finished

[2020-03-12 23:59:28] Features: 27/30 -- score: 0.9908075009182435[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done  53 out of  53 | elapsed:  9.2min finished

[2020-03-13 00:08:39] Features: 28/30 -- score: 0.9908729100523777[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done  52 out of  52 | elapsed:  9.2min finished

[2020-03-13 00:17:50] Features: 29/30 -- score: 0.9908842308640546[Parallel(n_jobs=-1)]: Using backend LokyBackend with 12 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 tasks      | elapsed:  4.1min
[Parallel(n_jobs=-1)]: Done  51 out of  51 | elapsed: 14.9min finished

[2020-03-13 00:32:46] Features: 30/30 -- score: 0.9908892623359111

SequentialFeatureSelector(clone_estimator=True, cv=2,
                          estimator=LogisticRegression(C=1.0, class_weight=None,
                                                       dual=False,
                                                       fit_intercept=True,
                                                       intercept_scaling=1,
                                                       l1_ratio=None,
                                                       max_iter=100,
                                                       multi_class='warn',
                                                       n_jobs=None,
                                                       penalty='l2',
                                                       random_state=None,
                                                       solver='warn',
                                                       tol=0.0001, verbose=0,
                                                       warm_start=False),
                          fixed_features=None, floating=False, forward=True,
                          k_features=30, n_jobs=-1, pre_dispatch='2*n_jobs',
                          scoring='accuracy', verbose=2)

In [46]:
sfs1_1.k_feature_names_

('address_count_30',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_3',
 'address_count_3',
 'fulladdress_count_1',
 'ssn_name_dob_count_30',
 'fulladdress_homephone_day_since',
 'ssn_lastname_count_30',
 'ssn_name_count_30',
 'fulladdress_homephone_count_14',
 'name_dob_day_since',
 'ssn_name_dob_day_since',
 'name_dob_count_14',
 'ssn_name_day_since',
 'ssn_dob_count_14',
 'ssn_count_14',
 'ssn_firstname_count_14',
 'ssn_lastname_count_14',
 'ssn_name_count_14',
 'address_count_1_by_14',
 'fulladdress_count_1_by_14',
 'fulladdress_homephone_count_7',
 'name_count_14',
 'name_day_since',
 'ssn_name_count_7',
 'fulladdress_count_1_by_30',
 'fulladdress_count_1_by_7',
 'ssn_name_count_1_by_30',
 'dob_count_30')

In [0]:
sfs2 = SFS(LogisticRegression(),
          k_features= 20,
          forward=True,
          floating=False,
          scoring = 'accuracy',
          n_jobs = -1,
          verbose = 2,
          cv = 2)
sfs2.fit(df6, df1.label.values)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   20.7s
[Parallel(n_jobs=-1)]: Done  63 out of  63 | elapsed:   37.1s finished

[2020-03-11 08:01:53] Features: 1/20 -- score: 0.9883282431609719[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   23.5s
[Parallel(n_jobs=-1)]: Done  62 out of  62 | elapsed:   41.4s finished

[2020-03-11 08:02:34] Features: 2/20 -- score: 0.9902791963733151[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   27.3s
[Parallel(n_jobs=-1)]: Done  61 out of  61 | elapsed:   47.6s finished

[2020-03-11 08:03:22] Features: 3/20 -- score: 0.9906615882344063[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.9min finished

[2020-03-11 08:05:16] Features: 4/20 -- score: 0.9906729090460833[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  59 out of  59 | elapsed:  2.3min finished

[2020-03-11 08:07:35] Features: 5/20 -- score: 0.9906842298577603[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done  58 out of  58 | elapsed:  2.7min finished

[2020-03-11 08:10:17] Features: 6/20 -- score: 0.9906955506694374[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  57 out of  57 | elapsed:  3.3min finished

[2020-03-11 08:13:34] Features: 7/20 -- score: 0.9906628461023703[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  56 out of  56 | elapsed:  3.0min finished

[2020-03-11 08:16:33] Features: 8/20 -- score: 0.990681714121832[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  55 out of  55 | elapsed:  3.5min finished

[2020-03-11 08:20:02] Features: 9/20 -- score: 0.990670393310155[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:  3.5min finished

[2020-03-11 08:23:35] Features: 10/20 -- score: 0.990593663364344[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  53 out of  53 | elapsed:  3.7min finished

[2020-03-11 08:27:16] Features: 11/20 -- score: 0.9906351730071599[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  52 out of  52 | elapsed:  3.0min finished

[2020-03-11 08:30:19] Features: 12/20 -- score: 0.9906200785915904[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  51 out of  51 | elapsed:  3.8min finished

[2020-03-11 08:34:08] Features: 13/20 -- score: 0.9905685060050616[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  3.8min finished

[2020-03-11 08:37:57] Features: 14/20 -- score: 0.9903999516978701[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  49 out of  49 | elapsed:  3.9min finished

[2020-03-11 08:41:51] Features: 15/20 -- score: 0.9904703923038607[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:  3.2min finished

[2020-03-11 08:45:00] Features: 16/20 -- score: 0.9905735374769181[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  47 out of  47 | elapsed:  3.7min finished

[2020-03-11 08:48:44] Features: 17/20 -- score: 0.9904754237757172[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done  46 out of  46 | elapsed:  3.7min finished

[2020-03-11 08:52:28] Features: 18/20 -- score: 0.9904678765679324[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  3.9min finished

[2020-03-11 08:56:20] Features: 19/20 -- score: 0.9906037263080569[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.4min
[Parallel(n_jobs=-1)]: Done  44 out of  44 | elapsed:  3.0min finished

[2020-03-11 08:59:22] Features: 20/20 -- score: 0.9905496379855999

SequentialFeatureSelector(clone_estimator=True, cv=2,
                          estimator=LogisticRegression(C=1.0, class_weight=None,
                                                       dual=False,
                                                       fit_intercept=True,
                                                       intercept_scaling=1,
                                                       l1_ratio=None,
                                                       max_iter=100,
                                                       multi_class='auto',
                                                       n_jobs=None,
                                                       penalty='l2',
                                                       random_state=None,
                                                       solver='lbfgs',
                                                       tol=0.0001, verbose=0,
                                                       warm_start=False),
                          floating=False, forward=True, k_features=20,
                          n_jobs=-1, pre_dispatch='2*n_jobs',
                          scoring='accuracy', verbose=2)

In [0]:
sfs2.k_feature_names_

('address_count_30',
 'address_count_7',
 'fulladdress_count_0_by_30',
 'fulladdress_count_180',
 'fulladdress_count_30',
 'fulladdress_day_since',
 'name_dob_count_0_by_7',
 'name_dob_count_30',
 'name_dob_count_90',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_180',
 'ssn_dob_count_90',
 'ssn_firstname_count_90',
 'ssn_lastname_count_180',
 'ssn_lastname_count_90',
 'ssn_name_count_30',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90')

In [0]:
cols = ['address_count_0',
 'address_count_0_by_7',
 'address_count_1',
 'address_count_1_by_7',
 'address_count_3',
 'address_count_30',
 'address_count_7',
 'address_count_90',
 'fulladdress_count_0',
 'fulladdress_count_0_by_30',
 'fulladdress_count_0_by_7',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_1_by_7',
 'fulladdress_count_3',
 'fulladdress_count_30',
 'fulladdress_count_7',
 'fulladdress_count_90',
 'fulladdress_day_since',
 'fulladdress_homephone_count_0_by_7',
 'fulladdress_homephone_day_since',
 'homephone_count_1',
 'homephone_count_3',
 'homephone_count_7',
 'name_count_7',
 'name_dob_count_0_by_30',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_3',
 'name_dob_count_30',
 'name_dob_count_7',
 'name_dob_count_90',
 'ssn_count_0_by_7',
 'ssn_count_3',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_0_by_30',
 'ssn_dob_count_180',
 'ssn_dob_count_3',
 'ssn_dob_count_30',
 'ssn_dob_count_7',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_3',
 'ssn_firstname_count_30',
 'ssn_firstname_count_7',
 'ssn_firstname_count_90',
 'ssn_lastname_count_0_by_7',
 'ssn_lastname_count_180',
 'ssn_lastname_count_3',
 'ssn_lastname_count_30',
 'ssn_lastname_count_7',
 'ssn_lastname_count_90',
 'ssn_name_count_0_by_180',
 'ssn_name_count_180',
 'ssn_name_count_3',
 'ssn_name_count_30',
 'ssn_name_count_7',
 'ssn_name_count_90',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90']

In [0]:
df7 = df1[cols]
df7

        address_count_0  ...  ssn_name_dob_count_90
record                   ...
38512                 1  ...                      1
38513                 1  ...                      1
38514                 1  ...                      1
38515                 1  ...                      1
38516                 1  ...                      1
...                 ...  ...                    ...
833503                1  ...                      2
833504                1  ...                      1
833505                1  ...                      1
833506                1  ...                      1
833507                1  ...                      1

[794996 rows x 63 columns]

In [0]:
sfs3 = SFS(LogisticRegression(),
          k_features= 25,
          forward=True,
          floating=False,
          scoring = 'accuracy',
          n_jobs = -1,
          verbose = 2,
          cv = 2)
sfs3.fit(df7, df1.label.values)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   20.2s
[Parallel(n_jobs=-1)]: Done  63 out of  63 | elapsed:   36.1s finished

[2020-03-12 01:41:36] Features: 1/25 -- score: 0.9883282431609719[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   22.6s
[Parallel(n_jobs=-1)]: Done  62 out of  62 | elapsed:   40.0s finished

[2020-03-12 01:42:16] Features: 2/25 -- score: 0.9902791963733151[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   26.6s
[Parallel(n_jobs=-1)]: Done  61 out of  61 | elapsed:   46.4s finished

[2020-03-12 01:43:02] Features: 3/25 -- score: 0.9906615882344063[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.1min
[Parallel(n_jobs=-1)]: Done  60 out of  60 | elapsed:  1.9min finished

[2020-03-12 01:44:53] Features: 4/25 -- score: 0.9906729090460833[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.3min
[Parallel(n_jobs=-1)]: Done  59 out of  59 | elapsed:  2.2min finished

[2020-03-12 01:47:08] Features: 5/25 -- score: 0.9906842298577603[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.5min
[Parallel(n_jobs=-1)]: Done  58 out of  58 | elapsed:  2.6min finished

[2020-03-12 01:49:43] Features: 6/25 -- score: 0.9906955506694374[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  57 out of  57 | elapsed:  3.2min finished

[2020-03-12 01:52:53] Features: 7/25 -- score: 0.9906628461023703[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  1.9min
[Parallel(n_jobs=-1)]: Done  56 out of  56 | elapsed:  2.9min finished

[2020-03-12 01:55:49] Features: 8/25 -- score: 0.990681714121832[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
/usr/local/lib/python3.6/dist-packages/joblib/externals/loky/process_executor.py:706: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  "timeout or by a memory leak.", UserWarning
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.1min
[Parallel(n_jobs=-1)]: Done  55 out of  55 | elapsed:  3.3min finished

[2020-03-12 01:59:08] Features: 9/25 -- score: 0.990670393310155[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  54 out of  54 | elapsed:  3.3min finished

[2020-03-12 02:02:28] Features: 10/25 -- score: 0.990593663364344[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  53 out of  53 | elapsed:  3.4min finished

[2020-03-12 02:05:55] Features: 11/25 -- score: 0.9906351730071599[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.0min
[Parallel(n_jobs=-1)]: Done  52 out of  52 | elapsed:  2.9min finished

[2020-03-12 02:08:50] Features: 12/25 -- score: 0.9906200785915904[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  51 out of  51 | elapsed:  3.6min finished

[2020-03-12 02:12:25] Features: 13/25 -- score: 0.9905685060050616[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  50 out of  50 | elapsed:  3.6min finished

[2020-03-12 02:16:00] Features: 14/25 -- score: 0.9903999516978701[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  49 out of  49 | elapsed:  3.7min finished

[2020-03-12 02:19:43] Features: 15/25 -- score: 0.9904703923038607[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.2min
[Parallel(n_jobs=-1)]: Done  48 out of  48 | elapsed:  3.0min finished

[2020-03-12 02:22:43] Features: 16/25 -- score: 0.9905735374769181[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  47 out of  47 | elapsed:  3.6min finished

[2020-03-12 02:26:18] Features: 17/25 -- score: 0.9904754237757172[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  46 out of  46 | elapsed:  3.5min finished

[2020-03-12 02:29:49] Features: 18/25 -- score: 0.9904678765679324[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.8min
[Parallel(n_jobs=-1)]: Done  45 out of  45 | elapsed:  3.7min finished

[2020-03-12 02:33:30] Features: 19/25 -- score: 0.9906037263080569[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.3min
[Parallel(n_jobs=-1)]: Done  44 out of  44 | elapsed:  2.9min finished

[2020-03-12 02:36:24] Features: 20/25 -- score: 0.9905496379855999[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.7min
[Parallel(n_jobs=-1)]: Done  43 out of  43 | elapsed:  3.3min finished

[2020-03-12 02:39:44] Features: 21/25 -- score: 0.9905295120981741[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done  42 out of  42 | elapsed:  3.4min finished

[2020-03-12 02:43:11] Features: 22/25 -- score: 0.9905056126068559[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  3.0min
[Parallel(n_jobs=-1)]: Done  41 out of  41 | elapsed:  3.6min finished

[2020-03-12 02:46:44] Features: 23/25 -- score: 0.9905358014379946[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:  2.5min
[Parallel(n_jobs=-1)]: Done  40 out of  40 | elapsed:  2.9min finished

[2020-03-12 02:49:35] Features: 24/25 -- score: 0.99048548671943[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  39 out of  39 | elapsed:  3.3min finished

[2020-03-12 02:52:56] Features: 25/25 -- score: 0.9903521527152338

SequentialFeatureSelector(clone_estimator=True, cv=2,
                          estimator=LogisticRegression(C=1.0, class_weight=None,
                                                       dual=False,
                                                       fit_intercept=True,
                                                       intercept_scaling=1,
                                                       l1_ratio=None,
                                                       max_iter=100,
                                                       multi_class='auto',
                                                       n_jobs=None,
                                                       penalty='l2',
                                                       random_state=None,
                                                       solver='lbfgs',
                                                       tol=0.0001, verbose=0,
                                                       warm_start=False),
                          floating=False, forward=True, k_features=25,
                          n_jobs=-1, pre_dispatch='2*n_jobs',
                          scoring='accuracy', verbose=2)

In [0]:
sfs3.k_feature_names_

('address_count_30',
 'address_count_7',
 'fulladdress_count_0_by_30',
 'fulladdress_count_1',
 'fulladdress_count_180',
 'fulladdress_count_30',
 'fulladdress_day_since',
 'name_dob_count_0_by_7',
 'name_dob_count_180',
 'name_dob_count_30',
 'name_dob_count_90',
 'ssn_count_30',
 'ssn_dob_count_0_by_180',
 'ssn_dob_count_180',
 'ssn_dob_count_90',
 'ssn_firstname_count_180',
 'ssn_firstname_count_90',
 'ssn_lastname_count_180',
 'ssn_lastname_count_30',
 'ssn_lastname_count_90',
 'ssn_name_count_30',
 'ssn_name_dob_count_180',
 'ssn_name_dob_count_30',
 'ssn_name_dob_count_7',
 'ssn_name_dob_count_90')

In [0]:
sfs4 = SFS(LogisticRegression(),
          k_features= 25,
          forward=True,
          floating=True,
          verbose = 2,
          cv = 0)
sfs4.fit(df7, df1.label.values)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.9s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  63 out of  63 | elapsed:  2.0min finished

[2020-03-12 04:08:33] Features: 1/25 -- score: 0.9883420797085771[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    2.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done  62 out of  62 | elapsed:  2.2min finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

TypeError: ignored

In [0]:
final_cols = list(sfs2.k_feature_names_)

In [0]:
final = df[final_cols].copy()
final['label'] = time.fraud_label
final.index = df.record
final

         address_count_0  address_count_0_by_7  ...  ssn_name_dob_count_7  label
record                                          ...
1                      1                   7.0  ...                     1      0
2                      1                   7.0  ...                     1      1
3                      1                   7.0  ...                     1      0
4                      1                   7.0  ...                     1      0
5                      1                   7.0  ...                     1      0
...                  ...                   ...  ...                   ...    ...
999996                 1                   7.0  ...                     1      0
999997                 1                   7.0  ...                     1      0
999998                 1                   7.0  ...                     1      0
999999                 1                   7.0  ...                     1      0
1000000                1                   7.0  ...                     1      0

[1000000 rows x 31 columns]

In [0]:
train_test = final.loc[:833507,:]
oot = final.loc[833508:,:]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X = train_test.drop('label', axis = 1)
y = train_test.label

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [0]:
train = X_train.copy()
train['label'] = y_train
train

        address_count_0  address_count_0_by_7  ...  ssn_name_dob_count_7  label
record                                         ...
813928                1                   7.0  ...                     1      0
474478                1                   7.0  ...                     1      0
29492                 1                   7.0  ...                     1      0
355294                1                   7.0  ...                     1      0
30388                 1                   7.0  ...                     1      0
...                 ...                   ...  ...                   ...    ...
259179                1                   7.0  ...                     1      0
365839                1                   7.0  ...                     1      0
131933                1                   7.0  ...                     1      0
671156                1                   7.0  ...                     1      0
121959                1                   7.0  ...                     1      0

[583454 rows x 31 columns]

In [0]:
test = X_test.copy()
test['label'] = y_test
test

        address_count_0  address_count_0_by_7  ...  ssn_name_dob_count_7  label
record                                         ...
210290                1                   7.0  ...                     1      0
752011                1                   7.0  ...                     1      0
339758                1                   7.0  ...                     1      0
13237                 1                   7.0  ...                     1      0
57599                 1                   7.0  ...                     1      0
...                 ...                   ...  ...                   ...    ...
140500                1                   7.0  ...                     1      0
753417                1                   7.0  ...                     1      0
184347                1                   7.0  ...                     1      0
328687                1                   7.0  ...                     1      0
794121                1                   7.0  ...                     1      0

[250053 rows x 31 columns]

In [0]:
train.to_csv('train_v2.csv')
test.to_csv('test_v2.csv')
oot.to_csv('oot_v2.csv')